@model Tabproject.Models.Person

@{
    ViewBag.Title = "Create";
    //Layout = null;
}

<head>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/bundles/bootstrap")
</head>

<h2>Create</h2>
<style>
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 7px;
        text-align: right;
    }
    .custom-file {
        position: relative;
        display: inline-block;
        width: 62%!important;
        height: 40px;
        margin-bottom: 0;
    }
    h3{
        font-size:18px;
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #Ccc;
    }
    .form-group {
        display: flex;
        flex-direction: column;
    }
    .design-process-section .text-align-center {
    line-height: 25px;
    margin-bottom: 12px;
}
.design-process-content {
    border: 1px solid #ccc;
    position: relative;
    padding: 16px 100px 30px 100px;
    height:fit-content();
    border-radius:5px;
}
.design-process-content img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    max-height: 100%;
}
.design-process-content h3 {
    margin-bottom: 16px;
}
.design-process-content p {
    line-height: 26px;
    margin-bottom: 12px;
}
.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 100%;
    margin: 20px auto 26px;
    border: none;
    z-index: 0;
    display:flex;
}
.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    margin: 0 auto;
    position: absolute;
    right: 55%;
    top: 13px;
    width: 95%;
    z-index: -1;
}
.process-model li.visited::after {
    background: #57b87b;
}
.process-model li:last-child::after {
    width: 0;
}
.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}
.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;

}
.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
}
.process-model li.active,
.process-model li.visited {
    color: #000;
}
.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #000;
}
.process-model li.active p,
.process-model li.visited p {
    font-weight: 600;
}
.process-model li i {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 0 auto;
    background: #f5f6f7;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}
    .process-model li.visited i {
        background: #008d4c;
        border-color: #008d4c;
    }
    .process-model li.active i {
        background: #428bca;
        border-color: #428bca;
    }
.process-model li p {
    font-size: 14px;
    margin-top: 11px;
}
.process-model.contact-us-tab li.visited a, .process-model.contact-us-tab li.visited p {
    color: #606060!important;
    font-weight: normal
}
.process-model.contact-us-tab li::after  {
    display: none;
}
.process-model.contact-us-tab li.visited i {
    border-color: #e5e5e5;
}

    .container.body-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }

@*@media screen and (max-width: 560px) {
  .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }
    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}*@
@*@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }
    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }
    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }
    .more-icon-preocess.process-model li::after {
        top: 18px;
    }
    .process-model.more-icon-preocess {
        text-align: center;
    }
}*@

body{
    font-family: 'Roboto', sans-serif;
    width:100vw;
}
* {
    margin: 0;
    padding: 0;
}
i {
    margin-right: 10px;
}

/*------------------------*/
input:focus,
button:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}
.form-control:disabled, .form-control[readonly]{
    background-color: #fff;
}
/*----------step-wizard------------*/
.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}

/*---------signup-step-------------*/
.bg-color{
    background-color: #333;
}
.signup-step-container{
    padding: 150px 0px;
    padding-bottom: 60px;
}




    .wizard .nav-tabs {
        position: relative;
        margin-bottom: 0;
        border-bottom-color: transparent;
    }

    .wizard > div.wizard-inner {
            position: relative;
    margin-bottom: 50px;
    text-align: center;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 75%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35px;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}
span.round-tab i{
    color:#555555;
}
    span.round-tab {

        background: green;
    }
    .wizard li.active span.round-tab {
        background: #639DF3;
        color: #fff;
        border-color: #639DF3;
    }
    li.disabled span.round-tab {
        background: #ccc;
    }
.wizard li.active span.round-tab i{
    color: #5bc0de;
}
.wizard .nav-tabs > li.active > a i{
    color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}



.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}
.wizard .nav-tabs > li a i{
    position: absolute;
    top: -15px;
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    font-weight: 700;
    color: #000;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 20px;
}


.wizard h3 {
    margin-top: 0;
}
.prev-step,
.next-step{
    font-size: 13px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    margin-top: 30px;
}
.next-step{
    background-color: #0db02b;
}
.skip-btn{
    background-color: #cec12d;
}
.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}
.term-check{
    font-size: 14px;
    font-weight: 400;
}
.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 0;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 40px;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 2;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 38px;
    padding: .375rem .75rem;
    line-height: 2;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 .25rem .25rem 0;
}
.footer-link{
    margin-top: 30px;
}
.all-info-container{

}
.list-content{
    margin-bottom: 10px;
}
.list-content a{
    padding: 10px 15px;
    width: 100%;
    display: inline-block;
    background-color: #f5f5f5;
    position: relative;
    color: #565656;
    font-weight: 400;
    border-radius: 4px;
}
.list-content a[aria-expanded="true"] i{
    transform: rotate(180deg);
}
.list-content a i{
    text-align: right;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: 0.5s;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fdfdfd;
}
.list-box{
    padding: 10px;
}
.signup-logo-header .logo_area{
    width: 200px;
}
.signup-logo-header .nav > li{
    padding: 0;
}
.signup-logo-header .header-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-inline li{
    display: inline-block;
}
.pull-right{
    float: right;
}
    .list-box {
        padding: 5px 10px;
    }
/*-----------custom-checkbox-----------*/
/*----------Custom-Checkbox---------*/
input[type="checkbox"]{
    position: relative;
    display: inline-block;
    margin-right: 5px;
}
input[type="checkbox"]::before,
input[type="checkbox"]::after {
    position: absolute;
    content: "";
    display: inline-block;
}
input[type="checkbox"]::before{
    height: 16px;
    width: 16px;
    border: 1px solid #999;
    left: 0px;
    top: 0px;
    background-color: #fff;
    border-radius: 2px;
}
input[type="checkbox"]::after{
    height: 5px;
    width: 9px;
    left: 4px;
    top: 4px;
}
input[type="checkbox"]:checked::after{
    content: "";
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
}
input[type="checkbox"]:checked::before{
    background-color: #18ba60;
    border-color: #18ba60;
}

    .col-md-8 {
        width: 51%;
    }



    html[lang="ar"] body {
        direction: rtl
    }

    form.login-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 50px 20px;
    }
    .wizard {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .wizard-inner {
        width: 100%;
    }
    div#main_form {
        width: 700px;
    }
    .col-md-8 {
        width: 100%;
    }
@*@media (max-width: 767px){
        .sign-content h3{
            font-size: 40px;
        }
        .wizard .nav-tabs > li a i{
            display: none;
        }
        .signup-logo-header .navbar-toggle{
            margin: 0;
            margin-top: 8px;
        }
        .signup-logo-header .logo_area{
            margin-top: 0;
        }
        .signup-logo-header .header-flex{
            display: block;
        }
    }*@
</style>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Person</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NationalCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DecisionProposal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.DecisionProposal)
                        @Html.ValidationMessageFor(model => model.DecisionProposal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@


<section class="design-process-section" id="process-tab" dir="rtl">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- design process steps-->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs process-model more-icon-preocess" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#discover" aria-controls="discover" role="tab" data-toggle="tab">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <p>اطلاعات شرکت</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#strategy" aria-controls="strategy" role="tab" data-toggle="tab">
                            <i class="fa fa-send-o" aria-hidden="true"></i>
                            <p> نسبت های مالی</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab">
                            <i class="fa fa-qrcode" aria-hidden="true"></i>
                            <p>اعتبارسنجی شرکت و مدیران اجرایی</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content" aria-controls="content" role="tab" data-toggle="tab">
                            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
                            <p>متغیرهای عملکرد کارگزاری</p>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab">
                            <i class="fa fa-clipboard" aria-hidden="true"></i>
                            <p>متغیرهای کسب و کار</p>
                        </a>
                    </li>
                </ul>
                <!-- end design process steps-->
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="discover">
                        <div class="design-process-content">
                            <h3 class="semi-bold">اطلاعات شرکت</h3>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NationalCode, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.NationalCode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.NationalCode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.RequestDate, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.RequestDate, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.RequestDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.DecisionProposal, htmlAttributes: new { @class = "control-label col-md-4" })
                                                <div class="col-md-10">
                                                    <div class="checkbox">
                                                        @Html.EditorFor(model => model.DecisionProposal, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.DecisionProposal, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <ul class="list-inline">
                                        <li><button type="submit" value="Create" class="default-btn next-step">ادامه</button></li>
                                    </ul>

                                </div>
                            }
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="strategy">
                        <div class="design-process-content">
                            <h3 class="semi-bold"> نسبت های مالی</h3>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ادرس*</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>شهر*</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>کشور*</label>
                                        <select name="country" class="form-control" id="country">
                                            <option value="NG" selected="selected">انتخاب</option>
                                            <option value="NU">اصفهان</option>
                                            <option value="NF">تهران</option>
                                            <option value="KP">سمنان</option>
                                            <option value="MP">شیراز</option>
                                            <option value="NO">مشهد</option>
                                        </select>
                                    </div>
                                </div>



                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>درخواست</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                            </div>


                            <ul class="list-inline">
                                <li><button type="button" class="default-btn prev-step">برگشت</button></li>
                                <li><button type="button" class="default-btn next-step skip-btn">لغو</button></li>
                                <li><button type="button" class="default-btn next-step">ادامه</button></li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="optimization">
                        <div class="design-process-content">
                            <h3 class="semi-bold">اعتبارسنجی شرکت و مدیران اجرایی</h3>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>نام اکانت*</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>دمو</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>نام</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>اطلاعات</label>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="customFile">
                                            <label class="custom-file-label" for="customFile">انتخاب فایل</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>عدد *</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>عدد وارد شده</label>
                                        <input class="form-control" type="text" name="name" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <ul class="list-inline">
                                <li><button type="button" class="default-btn prev-step">برگشت</button></li>
                                <li><button type="button" class="default-btn next-step skip-btn">لغو</button></li>
                                <li><button type="button" class="default-btn next-step">ادامه</button></li>
                            </ul>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content">
                        <div class="design-process-content">
                            <h3 class="semi-bold">متغیرهای عملکرد کارگزاری</h3>
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="reporting">
                        <div class="design-process-content">
                            <h3>متغیرهای کسب و کار</h3>
                            <hr />
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

<script>
    // script for tab steps

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var href = $(e.target).attr('href');
        var $curr = $(".process-model  a[href='" + href + "']").parent();

        $('.process-model li').removeClass();

        $curr.addClass("active");
        $curr.prevAll().addClass("visited");
    });
// end  script for tab steps
</script> 
